*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

#quote-box{
    width: 700px;
    background-color: #f6f6f6cb;
    text-align: center;
    padding:2vh;
    border-radius: 1rem;

}

#text{
    font-size: 2rem;
    font-weight: 600;

}

#author{
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 900;
}

#share__btn__and__newQuote__btn{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#tweet-quote,#tumblur,#new-quote{
    background-color: lightblue;
    padding: 2vh 3vh;
    cursor: pointer;
    border-radius: 10px;
}

#tweet-quote i,#tumblur i{
    font-size: 1.5rem;
    color: #fff;

    
}

#new-quote{
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}